@model IEnumerable<Loja.Data.Model.Produto>

@{
    ViewData["Title"] = "Lista de produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><span class="fa fa-plus"></span> Novo </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagemUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImagemUrl)" class="img-fluid" style="width: 80px; height:auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @item.DataCadastro.ToString("dd/MM/yyyy")
                </td>

                <td style="white-space: nowrap;">
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
